@import "normalize.css";
@import "variables.css";

/* ESTILOS DE LA PAGINA DE CONTACTOS */

/* HEADER*/
.header{
    position: relative;
    width: 100%;
    height: 100px;
}

.header__menu{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    z-index: 5;
}

.header__menu h3{
    font-family: var(--FuenteDeEmpresa);
    letter-spacing: 5px;
    font-size: 20px;
    text-shadow: 5px 5px 8px var(--colorOscuro);
}

.header__menu ul{
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.header__menu li{
    width: 30%;
    height: 100%;
    margin: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

.header__menu ul li:hover, .menu-responsive__enlaces ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.header__menu li a{
    width: 100%;
    height: 100%;
    padding: 10px 45px;
    font-size: 15px;
    font-family: var(--texto);
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--colorClaro);
    text-decoration: none;
    box-sizing: border-box;
}

.contenedor-btn-menu{
    display: none;
    min-width: 50px;
}

.header__menu .btn-menu{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* MENÚ RESPONSIVE */
.menu-responsive{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 100px;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    transform: translateX(-100%);
    transition-duration: 1s;
}

.menu-responsive__titulo h2{
    font-family: var(--titulos);
    font-size: 40px;
}

.menu-responsive__enlaces{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.menu-responsive__enlaces ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-responsive__enlaces li{
    width: 60%;
    height: 50px;
    list-style: none;
    text-align: center;
}

.menu-responsive__enlaces li a{
    text-decoration: none;
    color: var(--colorClaro);
    font-family: var(--texto);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 50px;
}

/* MAIN */
.main{
    width: 100%;
    height: 572px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/61/d2/9e/61d29e27a572ec7ace1a73b8cfa69805.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.main__iconos{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 5px solid var(--colorOscuro);
    background: none;
    box-shadow: 10px 10px 10px var(--colorOscuro);
    box-sizing: border-box;
}

.main__iconos .iconos__titulo{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--colorOscuro);
    box-sizing: border-box;
}

.iconos__titulo h2{
    margin: 0;
    font-family: var(--texto);
    letter-spacing: 3px;
}

.main__iconos .iconos__enlaces{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.iconos__enlaces div{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 50%;
    border: 2px solid var(--colorClaro);
    overflow: hidden;
}

.iconos__enlaces .icono{
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorClaro);
    text-decoration: none;
    cursor: pointer;
}

.iconos__enlaces div:hover{
    background-color: var(--colorOscuro);
}

.main__mapa{
    width: 45%;
    height: 80%;
    border-radius: 25px;
    border: 5px solid var(--colorOscuro);
    background: none;
    box-shadow: 10px 10px 10px var(--colorOscuro);
    overflow: hidden;
    box-sizing: border-box;
}

.mapa__titulo-contenedor{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--colorOscuro);
    box-sizing: border-box;
}

.mapa__titulo-contenedor span{
    width: 50px;
    font-size: 25px;
}

.mapa__titulo-contenedor h2{
    font-family: var(--texto);
    letter-spacing: 3px;
}

.contenedor-mapa{
    width: 100%;
    height: 84%;
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.footer h3{
    font-family: var(--FuenteDeEmpresa);
}

.footer h4{
    font-family: var(--texto);
}

.footer a{
    width: 10%;
    padding-bottom: 2px;
    display: inline-block;
    text-align: center;
    font-family: var(--texto);
    font-style: italic;
    color: var(--colorOscuro);
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorOscuro);
}

.footer a:hover{
    color: var(--colorClaro);
    border-bottom: 1px solid var(--colorClaro);
}


/*BOTON PARA LLEGAR AL INICIO DE LA PAGINA*/
.contenedor__boton-inicio{
    display: none;
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    border: 2px solid var(--colorOscuro);
    border-radius: 50%;
}

.contenedor__boton-inicio button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
} 

/* RESPONSIVE DESIGN  */
@media only screen and (min-width: 319px){
    .menu-responsive{
        bottom: 40%;
    }

    .enlace-menu{
        display: none;
    }
    .contenedor-btn-menu{
        display: block;
    }

    .header__presentacion{
        flex-direction: column;
    }

    .main{
        flex-direction: column;
    }

    .main__iconos{
        width: 100%;
        height: 45%;
    }

    .iconos__titulo{
        font-size: 15px;
    }

    .main__iconos .iconos__enlaces{
        flex-direction: row;
    }

    .iconos__enlaces div{
        width: 70px;
        height: 70px;
    }

    .main__mapa{
        width: 100%;
        height: 45%;
    }

    .mapa__titulo-contenedor{
        height: 60px;
    }

    .contenedor-mapa{
        height: 75%;
    }
}

@media only screen and (min-width: 319px) and (orientation: landscape){
    .menu-responsive{
        bottom: 20%;
    }

    .menu-responsive__enlaces li{
        width: 30%;
    }

    .menu-responsive__enlaces ul{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-responsive__titulo h2{
        margin: 0;
    }

    .main__iconos, .main__mapa{
        width: 80%;
    }
}

@media only screen and (min-width: 374px) and (orientation: landscape){
    .menu-responsive{
        bottom: 40%;
    }
}

@media only screen and (min-width: 706px){
    .menu-responsive__enlaces ul{
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 767px) and (orientation: landscape){
    .menu-responsive{
        bottom: 60%;
    }

    .menu-responsive__enlaces li{
        width: 30%;
    }
}

@media only screen and (min-width: 1125px){
    .enlace-menu{
        display: flex;
    }
    .contenedor-btn-menu{
        display: none;
    }

    .header__menu li a{
        padding: 10px;
        line-height: 30px;
    }

    .main{
        flex-direction: row;
    }

    .main__iconos, .main__mapa{
        width: 45%;
        height: 80%;
    }

    .contenedor-mapa{
        height: 100%;
    }

    .iconos__enlaces div{
        width: 100px;
        height: 100px;
    }
}