@import "normalize.css";
@import "variables.css";

/* MENU PRINCIPAL */
.menu{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    z-index: 5;
}

.menu h3{
    font-family: var(--FuenteDeEmpresa);
    letter-spacing: 5px;
    font-size: 20px;
    text-shadow: 5px 5px 8px var(--colorOscuro);
}

.menu ul{
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.menu__enlace{
    width: 22%;
    height: 100%;
    margin: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

.menu__enlace:hover, .menu-responsive__enlaces ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.menu__enlace a{
    width: 100%;
    height: 100%;
    padding: 10px 45px;
    font-size: 15px;
    font-family: var(--texto);
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--colorClaro);
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.contenedor-btn-menu{
    display: none;
    min-width: 50px;
}

.menu .btn-menu{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* MENU RESPONSIVE */
.menu-responsive{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    transform: translateX(-100%);
    transition-duration: 1s;
}

.menu-responsive__titulo h2{
    font-family: var(--titulos);
    font-size: 40px;
}

.menu-responsive__enlaces{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.menu-responsive__enlaces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-responsive__enlaces li{
    width: 20%;
    height: 50px;
    list-style: none;
    text-align: center;
}

.menu-responsive .menu-responsive__enlaces li a{
    text-decoration: none;
    color: var(--colorClaro);
    font-family: var(--texto);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 50px;
}

/* GALERIA */
.galeria{
    margin-top: 100px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.galeria__titulo{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.galeria__titulo h2{
    font-family: var(--titulos);
    font-size: 25px;
    font-style: italic;
    letter-spacing: 2px;
}

.galeria__contenedor-imagenes{
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-image: url('https://i.pinimg.com/originals/61/d2/9e/61d29e27a572ec7ace1a73b8cfa69805.jpg');
    background-size: cover;
    column-count: 4;
    column-gap: 10px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    box-sizing: border-box;
}

.galeria__contenedor-imagenes .tarjeta-galeria{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    break-inside: avoid;
    page-break-inside: avoid;
    border-radius: 25px;
}

#imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6, #imagen7, #imagen8, #imagen9, #imagen10, #imagen11, #imagen12{
    background-size: cover;
}

#imagen1{
    height: 180px;
    background-image: url('https://i.pinimg.com/originals/a5/d2/7f/a5d27f2daf40a809b93a6ad5d76600e2.png');
}

#imagen2{
    height: 180px;
    background-image: url('https://i.pinimg.com/originals/dc/6a/b8/dc6ab8de4506749d0842e39e850a6c27.png');
}

#imagen3{
    height: 430px;
    background-image: url('https://i.pinimg.com/originals/8c/79/cd/8c79cd6df6721716601a1fd5cdd85467.png');
}

#imagen4{
    height: 180px;
    background-image: url('https://i.pinimg.com/originals/db/59/8a/db598a714227547e778dcd3d8cac1254.png');
}

#imagen5{
    height: 600px;
    background-image: url('https://i.pinimg.com/originals/a2/15/1c/a2151c72213ec82fc4cf91fdf3a05143.png');
}

#imagen6{
    height: 180px;
    background-image: url('https://i.pinimg.com/originals/f5/3e/0c/f53e0c1f1fa46435593d521701a8d801.png');
}

#imagen7{
    height: 180px;
    background-image: url('https://i.pinimg.com/originals/82/45/ed/8245edab9553a55239aee4fd0c4bd11c.png');
}

#imagen8{
    height: 400px;
    background-image: url('https://i.pinimg.com/originals/2c/23/77/2c2377cb4920882118515c2ecd5ce848.png');
}

#imagen9{
    height: 500px;
    background-image: url('https://i.pinimg.com/originals/fd/1e/85/fd1e852c207734bd079457d33bcfa3ac.jpg');
}

#imagen10{
    height: 500px;
    background-image: url('https://i.pinimg.com/originals/f7/c3/f2/f7c3f25ba58c01e259fbbb55172e48a9.jpg');
}

#imagen11{
    height: 500px;
    background-image: url('https://i.pinimg.com/originals/f7/6d/03/f76d038e0d2272667c9086bc0564be40.jpg');
}

#imagen12{
    height: 500px;
    background-image: url('https://i.pinimg.com/originals/2b/0d/bc/2b0dbc4cc4e3470a5f25206e50f787d3.jpg');
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.footer h3{
    font-family: var(--FuenteDeEmpresa);
}

.footer h4{
    font-family: var(--texto);
}

/*BOTON PARA LLEGAR AL INICIO DE LA PAGINA*/
.contenedor__boton-inicio{
    display: none;
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    border: 2px solid var(--colorOscuro);
    border-radius: 50%;
}

.contenedor__boton-inicio button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}

/* Animaciones */
@keyframes slider{
    0%{
        transform: translateX(0);
    }

    15%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-100%);
    }

    35%{
        transform: translateX(-100%);
    }

    40%{
        transform: translateX(-200%);
    }

    55%{
        transform: translateX(-200%);
    }

    60%{
        transform: translateX(-300%);
    }

    75%{
        transform: translateX(-300%);
    }

    80%{
        transform: translateX(-400%);
    }

    100%{
        transform: translateX(-400%);
    }
}