/* Estilos del index de la pagina web*/

/* HEADER*/
.header{
    position: relative;
    background-image: url('../sources/img/danny-gallegos-onTGVHxgRJA-unsplash.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 65vh;
}

.header__menu{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    z-index: 5;
}

.header__menu h3{
    font-family: var(--letra);
    letter-spacing: 5px;
    font-size: 20px;
}

.header__menu ul{
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.header__menu ul li{
    width: 22%;
    height: 100%;
    margin: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

.header__menu ul li:hover, .menu-responsive .menu-responsive__enlaces ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.header__menu li a{
    width: 100%;
    height: 100%;
    padding: 10px 45px;
    font-size: 15px;
    font-family: var(--letra2);
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--colorClaro);
    text-decoration: none;
    box-sizing: border-box;
}

.contenedor-btn-menu{
    display: none;
    min-width: 50px;
}

.header__menu .btn-menu{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

.menu-responsive{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    transform: translateX(-100%);
    transition-duration: 1s;
}

.menu-responsive .menu-responsive__titulo h2{
    font-family: var(--letra3);
    font-size: 40px;
}

.menu-responsive .menu-responsive__enlaces{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.menu-responsive .menu-responsive__enlaces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-responsive .menu-responsive__enlaces ul li{
    width: 20%;
    height: 50px;
    list-style: none;
    text-align: center;
}

.menu-responsive .menu-responsive__enlaces li a{
    text-decoration: none;
    color: var(--colorClaro);
    font-family: var(--letra2);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 50px;
}

.header__presentacion{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
}

.header__presentacion .imagen-principal{
    width: 50%;
    height: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header__presentacion .imagen-principal img{
    max-width: 50%;
    display: block;
    margin: 5px auto;
    object-fit: cover;
}

.header__presentacion .slider-imagenes{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 90%;
    margin: 20px;
    border: 5px solid white;
    box-sizing: border-box;
    overflow: hidden;
}

.slider-imagenes .imagen{
    background-color: green;
    width: 100%;
    height: 370px;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-animation-name: slider;
    animation-name: slider;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.slider-imagenes #imagen1{
    background-image: url('https://i.pinimg.com/originals/82/45/ed/8245edab9553a55239aee4fd0c4bd11c.png');
    background-size: cover;
}

.slider-imagenes #imagen2{
    background-image: url('https://i.pinimg.com/originals/dc/6a/b8/dc6ab8de4506749d0842e39e850a6c27.png');
    background-size: cover;
}

.slider-imagenes #imagen3{
    background-image: url('https://i.pinimg.com/originals/a5/d2/7f/a5d27f2daf40a809b93a6ad5d76600e2.png');
    background-size: cover;
}

.slider-imagenes #imagen4{
    background-image: url('https://i.pinimg.com/originals/db/59/8a/db598a714227547e778dcd3d8cac1254.png');
    background-size: cover;
}

.slider-imagenes #imagen5{
    background-image: url('https://i.pinimg.com/originals/f5/3e/0c/f53e0c1f1fa46435593d521701a8d801.png');
    background-size: cover;
}

/* MAIN */
.main{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main__titulo{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    border-bottom: 2px solid var(--colorOscuro);
    box-sizing: border-box;
}

.main__titulo h1{
    font-family: var(--letra3);
    font-style: italic;
    text-transform: capitalize;
}

.main__contenedor-productos{
    width: 100%;
    max-width: 1600px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('https://i.pinimg.com/originals/e3/69/f8/e369f855a966b0c9f5611d434588b0a7.jpg');
    box-sizing: border-box;
}

.contenedor-productos{
    width: 40%;
    min-width: 250px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--colorOscuro);
    border-radius: 25px;
    box-shadow: 10px 10px 20px var(--colorOscuro);
    background-color: rgba(255, 255, 255, .5);
}

.contenedor-productos .titulo-categoria{
    text-align: center;
    border-bottom: 5px solid var(--colorOscuro);
}

.contenedor-productos .titulo-categoria h2{
    font-family: var(--letra2);
}

.contenedor-productos .productos{
    padding: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.contenedor-productos .productos li{
    margin-bottom: 10px;
    font-family: var(--letra3);
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.footer h3{
    font-family: var(--letra);
}

.footer h4{
    font-family: var(--letra2);
}


/* Animaciones */
@keyframes slider{
    0%{
        transform: translateX(0);
    }

    15%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-100%);
    }

    35%{
        transform: translateX(-100%);
    }

    40%{
        transform: translateX(-200%);
    }

    55%{
        transform: translateX(-200%);
    }

    60%{
        transform: translateX(-300%);
    }

    75%{
        transform: translateX(-300%);
    }

    80%{
        transform: translateX(-400%);
    }

    100%{
        transform: translateX(-400%);
    }
}

@media screen and (max-width: 320px){
    .enlace-menu{
        display: none;
    }
    .contenedor-btn-menu{
        display: block;
        width: 50px;
    }

    .header__presentacion{
        flex-direction: column;
    }

    .header__presentacion .imagen-principal{
        width: 100%;
        height: 40%;
        margin-top: 10px;
    }

    .header__presentacion .imagen-principal img{
        min-width: 90%;
    }

    .header__presentacion .slider-imagenes{
        width: 90%;
        height: 40%;
    }

    .header__presentacion .slider-imagenes .imagen{
        width: 100%;
        height: 100%;
    }

    .menu-responsive{
        height: auto;
    }

    .menu-responsive .menu-responsive__enlaces ul{
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-responsive .menu-responsive__enlaces ul li{
        width: 90%;
    }
}

@media screen and (max-width: 375px){
    .enlace-menu{
        display: none;
    }
    .contenedor-btn-menu{
        display: block;
        width: 50px;
    }

    .header__presentacion{
        flex-direction: column;
    }

    .header__presentacion .imagen-principal{
        width: 100%;
        height: 40%;
        margin-top: 10px;
    }

    .header__presentacion .imagen-principal img{
        min-width: 70%;
    }

    .header__presentacion .slider-imagenes{
        width: 80%;
        height: 40%;
    }

    .header__presentacion .slider-imagenes .imagen{
        width: 100%;
        height: 100%;
    }

    .menu-responsive{
        height: auto;
    }

    .menu-responsive .menu-responsive__enlaces ul{
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-responsive .menu-responsive__enlaces ul li{
        width: 90%;
    }
}

@media screen and (max-width: 425px){
    .enlace-menu{
        display: none;
    }
    .contenedor-btn-menu{
        display: block;
        width: 50px;
    }

    .header__presentacion{
        flex-direction: column;
    }

    .header__presentacion .imagen-principal{
        width: 100%;
        height: 40%;
        margin-top: 10px;
    }

    .header__presentacion .imagen-principal img{
        min-width: 70%;
    }

    .header__presentacion .slider-imagenes{
        width: 80%;
        height: 50%;
    }

    .header__presentacion .slider-imagenes .imagen{
        width: 100%;
        height: 100%;
    }

    .menu-responsive{
        height: auto;
    }

    .menu-responsive .menu-responsive__enlaces ul{
        padding-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-responsive .menu-responsive__enlaces ul li{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .enlace-menu{
        display: none;
    }
    .contenedor-btn-menu{
        display: block;
        width: 50px;
    }

    .header__presentacion .imagen-principal{
        width: 40%;
        height: 40%;
        margin-top: 10px;
    }

    .header__presentacion .imagen-principal img{
        min-width: 70%;
    }

    .header__presentacion .slider-imagenes{
        width: 50%;
        height: 55%;
    }

    .header__presentacion .slider-imagenes .imagen{
        width: 100%;
        height: 100%;
    }
}