@import "normalize.css";
@import "variables.css";

/* MENU PRINCIPAL */
.menu{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    z-index: 5;
}

.menu h3{
    font-family: var(--FuenteDeEmpresa);
    letter-spacing: 5px;
    font-size: 20px;
    text-shadow: 5px 5px 8px var(--colorOscuro);
}

.menu ul{
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.menu__enlace{
    width: 22%;
    height: 100%;
    margin: 0;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
}

.menu__enlace:hover, .menu-responsive__enlaces ul li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.menu__enlace a{
    width: 100%;
    height: 100%;
    padding: 10px 45px;
    font-size: 15px;
    font-family: var(--texto);
    line-height: 50px;
    letter-spacing: 2px;
    color: var(--colorClaro);
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.contenedor-btn-menu{
    display: none;
    min-width: 50px;
}

.menu .btn-menu{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: white;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* MENU RESPONSIVE */
.menu-responsive{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
    transform: translateX(-100%);
    transition-duration: 1s;
}

.menu-responsive__titulo h2{
    font-family: var(--titulos);
    font-size: 40px;
}

.menu-responsive__enlaces{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.menu-responsive__enlaces ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-responsive__enlaces li{
    width: 20%;
    height: 50px;
    list-style: none;
    text-align: center;
}

.menu-responsive .menu-responsive__enlaces li a{
    text-decoration: none;
    color: var(--colorClaro);
    font-family: var(--texto);
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 50px;
}

/* GALERIA */
.galeria{
    margin-top: 100px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.galeria__titulo{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--colorOscuro);
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.galeria__titulo h2{
    font-family: var(--titulos);
    font-size: 25px;
    font-style: italic;
    letter-spacing: 2px;
}

.galeria__contenedor-imagenes{
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-image: url('https://i.pinimg.com/originals/61/d2/9e/61d29e27a572ec7ace1a73b8cfa69805.jpg');
    background-size: cover;
    column-count: 4;
    column-gap: 10px;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    box-sizing: border-box;
}

.galeria__contenedor-imagenes .tarjeta-galeria{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    break-inside: avoid;
    page-break-inside: avoid;
    border-radius: 25px;
    overflow: hidden;
}

.tarjeta-galeria img{
    max-width: 100%;
    height: auto;
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    box-sizing: border-box;
}

.footer h3{
    font-family: var(--FuenteDeEmpresa);
}

.footer h4{
    font-family: var(--texto);
}

.footer a{
    width: 10%;
    padding-bottom: 2px;
    display: inline-block;
    text-align: center;
    font-family: var(--texto);
    font-style: italic;
    color: var(--colorOscuro);
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    border-bottom: 1px solid var(--colorOscuro);
}

.footer a:hover{
    color: var(--colorClaro);
    border-bottom: 1px solid var(--colorClaro);
}

/*BOTON PARA LLEGAR AL INICIO DE LA PAGINA*/
.contenedor__boton-inicio{
    display: none;
    z-index: 5;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, var(--colorPrincipal), var(--colorOscuro));
    border: 2px solid var(--colorOscuro);
    border-radius: 50%;
}

.contenedor__boton-inicio button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}

/* Animaciones */
@keyframes slider{
    0%{
        transform: translateX(0);
    }

    15%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-100%);
    }

    35%{
        transform: translateX(-100%);
    }

    40%{
        transform: translateX(-200%);
    }

    55%{
        transform: translateX(-200%);
    }

    60%{
        transform: translateX(-300%);
    }

    75%{
        transform: translateX(-300%);
    }

    80%{
        transform: translateX(-400%);
    }

    100%{
        transform: translateX(-400%);
    }
}

/*DISEÑO RESPONSIVE*/
@media only screen and (min-width: 319px){
    .menu ul{
        width: 40%;
    }

    .contenedor-btn-menu{
        display: block;
    }

    .menu__enlace{
        display: none;
    }

    .menu-responsive{
        height: 350px;
    }

    .menu-responsive__enlaces ul{
        padding: 0;
        flex-direction: column;
    }

    .menu-responsive__enlaces li{
        width: 100%;
    }

    .galeria__contenedor-imagenes{
        column-count: 1;
    }

    .contenedor__boton-inicio{
        width: 60px;
        height: 60px;
    }

    .footer a{
        width: 40%;
    }
}

@media only screen and (min-width: 319px) and (orientation: landscape){
    .menu-responsive{
        height: 200px;
    }

    .menu-responsive__titulo{
        width: 80%;
        height: 60px;
        text-align: center;
    }

    .menu-responsive__titulo h2{
        margin: 0;
    }

    .menu-responsive__enlaces ul{
        height: 80px;
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 50px;
    }

    .menu-responsive__enlaces li{
        width: 20%;
    }
    
    .galeria__contenedor-imagenes{
        column-count: 2;
    }
}

@media only screen and (min-width: 765px) and (orientation: landscape){
    .galeria__contenedor-imagenes{
        column-count: 3;
    }

    .footer a{
        width: 30%;
    }
}

@media only screen and (min-width: 765px) and (orientation: portrait){
    .galeria__contenedor-imagenes{
        column-count: 2;
    }

    .footer a{
        width: 20%;
    }
}

@media only screen and (min-width: 1023px){
    .menu ul{
        width: 50%;
    }

    .contenedor-btn-menu{
        display: none;
    }

    .menu__enlace{
        display: flex;
    }
    
    .footer a{
        width: 20%;
    }
}

@media only screen and (min-width: 1099px){
    .menu__enlace a{
        padding: 10px;
        line-height: 30px;
    }

    .galeria__contenedor-imagenes{
        column-count: 4;
    }
}

@media only screen and (min-width: 1439px){
    .footer a{
        width: 15%;
    }
}