/* Links para importar las fuentes del proyecto */
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap'); 

/* Variables a utilizar dentro del proyecto */
:root {   
    /* Fuentes */
    --FuenteDeEmpresa: 'Stalinist One', cursive;
    --texto:'Source Code Pro', monospace;
    --titulos: 'Lexend Mega', sans-serif;

    /* Colores */
    --colorPrincipal: #FF0000;
    --colorOscuro: #000;
    --colorClaro: #fff;
}